@tailwind base;
@tailwind components;
@tailwind utilities;

.appName {
font-family: 'Rowdies', sans-serif;
}
.numbers{
    font-family: 'Rubik', sans-serif;
}

/* .enter{
    animation:enterAnimation .5s ease-in-out forwards ;
    
}
.enter2{
    animation:enterAnimation .5s ease-in-out forwards .5s;
    
}
@keyframes enterAnimation{
    from{
        opacity: 0;
        transform: translateY(30px);
    }
    to{
        opacity: 1;
        transform: translateY(0px);
    }
} */